@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{font-family: 'Libre Caslon Text', sans-serif;
    font-size: 15px;
  font-weight: bold;
}

/* Make app fullscren */
html, body {
  margin:0;
  padding; 0;
  overflow: none;
}
/*Scroll bar adjustments*/
::-webkit-scrollbar{
  width: .5em;
  height: .5em;
}
::-webkit-scrollbar-thumb{
  background: #037;
  border-radius: 10mm;
}
::-webkit-scrollbar-corner{
  display: none;
}
::-webkit-scrollbar-track{
  display: none;
}

.break{flex-basis:100%;}

/*CSS begins here.*/
#CharacterSheet{
   background: url("https://github.com/warmest-soup/warmest-soup.github.io/blob/main/Assets/Images/SheetGBG.png?raw=true") center 15%/cover no-repeat;
  min-height: 100vh;
  min-width:  100vw;
  overflow: none;
  
}
.CharSection{
  display: flex;
  overflow: auto;
  background: transparent;
  padding: 3mm;
  gap: 5mm;
  
}

/*Sections*/
.container {
  background: url("https://azaeath.art/pics/moreRecent/AT%20with%20Azzy%20the%20Great_20200413031258.png") center 15%/cover no-repeat;
  border: 3mm solid;
  Border-color: #135;
  min-height:  180mm;
  min-width: 95mm;
  border-radius: 20px;
}
/*Specific Sections*/
#Abilities{
  margin:0;
  padding:0; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: none;
  min-width: 120mm;
  
}

.memory{
  position:relative;
  padding-top:15px;
  padding-bottom:15px;
  border: 5px solid;
  background-color: skyblue;
  max-width: 14em;
  max-height: 40em;
  min-width: 14em;
  min-height: 41em;
  border-radius: 25px;
  text-align:center;
  display: flex;
  flex-flow:column;
  flex-direction:column-reverse;
  justify-content:flex-end;
  align-items: center;
  gap:.5em;
}

.sklSlot{
  display:flex;
  position:relative;
  justify-content:center;
  align-items:top;
  padding:1em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color:#589;
  background-color: skyblue;
  max-width: 8em;
  max-height: 1em;
  min-width: 8em;
  min-height: 1em;
  text-align:center;
  text-wrap: nowrap;
}

.sklSlot:hover{
  background-color: #bff;
  box-shadow: inset 0em 0em 7px skyblue, 
    inset 0em 0em 10px skyblue, 
    inset 0em 0em 20px skyblue, 
    inset 0em 0em 25px skyblue;
  animation-name: abilSelect;
  animation-duration: .15s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
  color:hsl(200,100%,40%);
} 
@keyframes abilSelect{
  0%{
    background-color: #aff;
    box-shadow: 
    0 0 15em #dff,
    0 0 10em #dff,
    0 0 5em #dff,
    0 0 5em #dff,
    0 0 2em #dff,
    0 0 2em #dff,
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue;
  }
  25%{
    background-color: #white;
    box-shadow: 
    0 0 0em skyblue,
    0 0 7.5em skyblue,
    0 0 5em skyblue,
    0 0 2.5em #6ff,
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue, 
    inset 0em 0em 0px skyblue;
  }
  100%{
    padding:1.1em;
    background-color: #bff;
    box-shadow: 
    0 0 0em skyblue,
    0 0 0em skyblue,
    0 0 0em skyblue,
    0 0 0px skyblue,
    inset 0em 0em 7px skyblue, 
    inset 0em 0em 10px skyblue, 
    inset 0em 0em 20px skyblue, 
    inset 0em 0em 25px skyblue;
    font-size:1.1em;
  }
}

.skl{
  display:flex;
  position:absolute;
  background-color:transparent;
  translate:0 -1em;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  height:100%;
  width:100%;
}
.skl:hover{
  animation-name: abilSelect2;
  animation-duration: .25s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
}
@keyframes abilSelect2{
  100%{
    font-size:1.025em;
  }
}

.expBar{
  position:relative;
  background-color:gray;
  translate:.5em -.55em;
  height:.38em;
  width:6.5em;
  border:hsl(220, 50%, 50%) .1em solid;
  border-radius:.5em;
  overflow:clip;
}
.expProgress{
  background-color:hsl(100, 50%, 50%);
  height:.38em;
  width:50%;
  border-radius:.5em;
}

/*Text box formatting*/
.abilButton{
  Max-width: 1.1em;
  max-height: 1.1em;
  Min-width: 1.1em;
  min-height: 1.1em;
  border-width: .15em;
  border-color: #6aa;
  border-radius: 1em;
  background-color: #7ac;
  text-align:center;
}
/*Dropdown ability Menu*/
.sklData{
  display:none;
}
.sklDataOpen{
  display:flex;
  flex-flow:column;
  justify-content:space-between;
  position:absolute;
  translate: 1.5em 8.8em;
  z-index:10 !important;
  display:flex;
  flex-basis:auto;
  height:12.5em;
  width:12.5em;
  background-color:#bdf;
  border:#558 .6em solid;
  border-radius: 1em;
  text-wrap:wrap;
  font-size: .75em;
  color:black !important;
  animation-name: sklDataOpen;
  animation-duration: .15s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
  color:hsl(200,100%,40%);
} 
@keyframes sklDataOpen{
  0%{ 
    translate:1.5em 2em;
    height:0em;
  }
  25%{
  }
  100%{

  }
}

.abilTitle{
  backGround-color:salmon;
  box-shadow:inset -.5em -.5em .5em red;
  border-radius:.25em;
  color:#800;
}
.abilBody{
  padding:.25em;
  flex-grow:1;
  font-size:.85em;
  ;
}
.techTitle{
  backGround-color:cyan;
  box-shadow:inset -.5em -.5em .5em blue;
  border-radius:.25em;
  color:#008;
}

.expCur{

}
.expGoal{

}
.rank{
  Max-width: 2.5em;
  Min-width: 2.5em;
  min-height: 2.5em;
  max-height: 2.5em;
  border-width: .2em;
  border-color: hsla(50,100,150,.0);
  border-radius: 2em;
  background-color: hsla(195,50%,90%,.5);
  text-align:center;
  font-size:1.1em;
  translate:0 .15em;
}

#ArmorGrids {
  min-width: 380mm;
}



