:root {
    color-scheme: dark;
    font-family:"Zen Old Mincho";
    line-height:min(1.55rem, 3.5vw);
    font-weight:400;
    font-size:min(.7rem, 2.5vw);

    --AuthorColor: white;
}
::selection{
    background:#aa7cb3ad;
}
*, input{
    margin:0em;
    padding:0em;
    box-sizing:border-box;

    border:none;
    resize:none;
}
input, textarea{
    font-family:"Zen Old Mincho";
    line-height:1.2rem;
    font-weight:400;
    font-size:min(1rem, 2.5vw);
    background:none;
}
input{
    width:6em;
    text-align:center;
    padding:.1em;
}
img{
    border-radius:1.5em;
    box-shadow:
    .2em .2em .5em 0em black,
    -.2em -.2em .5em 0em white;
    margin:1em;
}
blockquote{
    margin:.5em;
    padding:.3em 1em .3em 1em;
    box-shadow:
        -.5em 0em 0em 0em #083a6d,
        inset .2em 0em 2em 0em #040f18;
}
/*FLEX COLUMNS!!!*/
#messageBox,
#UserInput,
#Dashboard,
.QuoteBlock
{
    display:flex;
    flex-direction:column;
}

/*Round Edges*/
#messageBox,
.message, 
#Author,
#DraftBox,
#Color,
.spoilerPrimer,
.spoiler
{border-radius:1em;}

/*Dark Text*/
.BlockQuote,
.Timestamp,
.QuoteBlock > a,
blockquote
{
    color:#92c8ff;
}

#messageBox{
    gap:1em;
    box-shadow:
    0em 4em 4em -2em #1c349bdb,
    0em -1em 1em .2em #000000db;
    
    margin:1em;
    padding:1em 1.5em 4em 1.5em;
    height:75%;
    width:95%;
    overflow-y:auto;
    overflow-x:clip;

    background: url(https://raw.githubusercontent.com/warmest-soup/warmest-soup.github.io/refs/heads/main/Assets/Images/ChatroomBGs/8.gif) center 15% / cover no-repeat;
}

/*Message Block*/
.message, 
#Author, 
.Entrance, 
.QuoteBlock{
    padding:.4em 1em .3em 1.5em;
    width:fit-content;
    background:#123552a1;
    box-shadow:
    0em 0em 0em .2em black,
    inset .3em -.3em 1em .4em #08021e,
    inset -.1em .2em .5em 0em #a7e7ff,
    inset 2em -1em 3em 0em #7183a4;
    

    backdrop-filter:
        contrast(300%)
        blur(5px);

    text-shadow:-.05em .05em .3em black;
}
.message{
    word-wrap:break-word;
    max-width:100%;
    margin-left:3em;

    animation:Enter .2s ease-out;
}
.QuoteBlock{
    font-size:.9em;
    padding:.7em 1.2em 2em 2.2em;
    border-radius:2em 2em 1em 5em;
    transform:translatey(1.6em);
    margin-top:-1.6em;
    background:#056a65c2;
    gap:.3em;

    box-shadow:
    0em 0em 0em .2em black,
    inset .3em -.3em 1em .4em #151c24,
    inset -.1em .2em .5em 0em #a7e7ff,
    inset 2em -1em 3em 0em #74c8d6;

    animation:quoteEnter .2s ease-out;
}
.quoteblock > a {
    text-decoration:none;
    
    box-shadow:
    inset 0em 0em 1em 0em #325c57,
    0em 0em 1em 0em #73c4cc;
    border-radius:1em;
    padding:.5em 1em 0em 1em;
    
    width:100%;
    display:block;
}
#Author{
    width:8em;
    color:var(--AuthorColor);
    font-weight:900;
}
#Color:active{
    outline:none;
}
#UserInput{
    gap:6%;
    align-items:center;
    height:18%;
}
#Dashboard{
    align-self:start;
    padding-left:5%;
    gap:7%;
}
#DraftBox{
    width:90%;
    height:100%;
    padding:.5em;

    transition: box-shadow 1s ease;
    
}
#DraftBox:focus{
    outline:none;
box-shadow:
        0em -.3em 1em 0em #000000,
        0em 1em 1em 0em #5555e0,
        inset 0em 4em 8em -6em #5555e0;
    
}
#Clock{
    font-size:.8em;
}
#page{
    align-items:center;
    width:100vw;
    height:100vh;
    overflow:clip;

    background: url(https://raw.githubusercontent.com/warmest-soup/warmest-soup.github.io/refs/heads/main/Assets/Images/ChatroomBGs/ChatroomForeground.jpg) center 15% / cover no-repeat;
}
#UserDisplay{
    text-align:center;
    font-size:1.1em;
    transform:translatey(.6em);
}
.spoilerPrimer{
    background:#000000a3;
    padding:0em .3em 0em .3em;
}
.spoiler{
    background:#111111;
    color:#111111;
    text-shadow:none;
}
.spoiler::selection{
    background:white;
    color:white;
}
.reply2This{
    animation:replyGlow 2s infinite;
}
.Timestamp{
    font-size:.7em;
}
.Entrance{
    align-self:center;
    font-size:.8em;
    line-height:1em;
    padding:.5em 3em .5em 3em;
    border-radius:3em;
    box-shadow:none;
    background:#232848a6;
}
.Highlight{
    background:#92c8c1;
    filter:contrast(90%) brightness(115%);

    box-shadow:
    0em 0em 1em .2em #7cefff,
    inset -.1em .2em .5em 0em #a7ffef,
    inset .3em -.3em 1em .4em #072147,
    inset 2em -1em 3em 0em #64bbb4;

    animation:hilit 3s infinite;
    
}

@keyframes hilit{
    50%{
        box-shadow:
    0em 0em 0em .2em black,
    inset .3em -.3em 1em .4em #151c24,
    inset -.1em .2em .5em 0em #a7e7ff,
    inset 2em -1em 3em 0em #74c8d6;
    }
}

@keyframes Enter {
    0% {
        transform: scale(0);

        Background: rgb(101, 219, 255);

    }

    60% {
        transform:
            scale(1.2);
    }

    100% {
        transform:
            scale(1);

        background: rgba(17, 31, 26, 0.664);

    }
}

@keyframes quoteEnter {
    0% {
        transform: scale(0) translatey(200%) translatex(-1em);

        Background: rgb(101, 219, 255);

    }

    100% {
        transform:
            scale(1) translatey(.7em) translatex(-1em);

        background: rgba(81, 138, 95, 0.664);

    }
}

@keyframes replyGlow {
    0% {
        background:  rgb(175 198 233 / 66%);
    }

    50% {
        box-shadow:
            0em 0em 1em .2em #7cefff,
            inset -.1em .2em .5em 0em #a7ffef,
            inset .3em -.3em 1em .4em #072147,
            inset 2em -1em 3em 0em #64bbb4;

        filter: brightness(200%) blur(.1em);

        background: #80c2c2;
    }


    100% {
        background: rgb(175 198 233 / 66%);
    }


}

@keyframes Glow {
    0% {
        text-shadow:
            0em 0em 0em black;
    }

    10% {
        color: white;
        text-shadow:
            0em 0em .4em hsl(0, 0%, 100%),
            0em 0em .1em hsl(0, 0%, 100%),
            0em .1em .2em hsl(0, 0%, 100%),
            0em -.1em .2em hsl(0, 0%, 100%);
    }

    30% {
        filter: none;
        color: inherit;
    }

    50% {

        text-shadow:
            1em 0em .2em hsl(200deg 50% 50%),
            -.7em -.2em .2em hsl(200deg 50% 50%),
            .3em .4em .2em hsl(200deg 50% 50%),
            .7em -.7em .2em hsl(200deg 50% 50%);
    }

    100% {
        text-shadow:
            1em 0em .2em transparent,
            -.7em -.2em .2em transparent,
            0em .2em .2em transparent,
            .7em -.7em .2em transparent;
    }
}

/*Scroll bar adjustments*/
::-webkit-scrollbar {
    width: .7em;
    display: overlay;
}

::-webkit-scrollbar-thumb {
    background: #ffe573;
    border-radius: 1em;
    box-shadow:
        inset -.05em .05em .2em .1em white,
        inset -.2em .2em .3em 0em #8f3846,
        inset .25em -.25em .1em 0em #151842;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    background: lightGray;
    box-Shadow: inset 0em 0em 0em .1em darkgray;
    display: none;
    /*Display might be important for when background images appear*/
}