:root{
    --paper:hsl(180deg 10% 80%);
    --rattraps:#ffff00;
    --ratshade:hsl(340deg 50% 50%);
}

* {
    margin: 0px;
    padding: 0px;
    font-size:2vh;
    font-family: "Zen Old Mincho";
  }
  #overlay{
    position:absolute;
    z-index:+2;
    height:100%;
    width:100%;
    mix-blend-mode:multiply;
    pointer-events:none;
    filter:
    contrast(180%);
}
  .Term{
    font-size:1.3em;
    font-weight:900;
  }
  #Glossary{
    font-weight:bolder;
    background:hsl(from var(--rattraps)
    h 20% 60%);
    width:70%;
    height:80%;
    padding:2% 0% 2% 0%;
    box-sizing:border-box;
    overflow:auto;
    box-shadow:
    inset 1em 0em 5em -0em hsl(
        from var(--ratshade)
        h s 10%),
    .2em 0em .1em 0em var(--rattraps),
    -.2em 0em .4em 0em rgb(0 0 0/95%);
    border-radius:.3em;
  }
  #Navigator>div:nth-child(1){
    font-size:1.4em;
    font-family:"cinzel";
  }
  a{
    font-weight:bolder;
    color:black;
    background:hsl(from var(--rattraps)
    h 20% 60%);
    display:block;
    text-decoration:none;
    width:100%;
    height:1.4em;
    padding-left:20%;
    box-sizing:border-box;
    box-shadow:
    0em 0em .4em 0.1em black,
    inset 1em 0em 1em -0em hsl(
        from var(--ratshade)
        h s 10% /70%);
  }

  #navigator {
    background: var(--rattraps);
    width: 100%;
    height: 30%;
    box-shadow:
    0em 0em 5em 2em rgb(0 0 0/70%),
    inset -6.4em 6.3em 1em -6em black,
    inset 0em 0em 4em 0em var(--ratshade);
    
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:.5em;
    padding:1em 0em 0em 0em;
    box-sizing:border-box;
}
  #reader {
    background: var(--paper);
    width: 100%;
    height: 70%;
    box-shadow:
    inset 0em 0em 3em black;
    overflow:auto;
    box-sizing:border-box;
    padding:10% 5% 10% 5%;
}

  @media (min-aspect-Ratio: 12/16) {
    body {
      display: flex;
      flex-direction:row-reverse;
    }

    #navigator {
      width: 30%;
      height: 100%;
      z-index:+1;
    }

    #reader {
      width: 70%;
      height: 100%;
    }
    #Glossary{
        height:90%;
    }

}
